/** GLOBAL **/
body{
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: #fff;
}

section{
    position: relative;
    float: none;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#mountain, #star-mountain, #firefly{
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,69,115,.1)), url(../img/mountain.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 65%;
    opacity: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed !important;
    z-index: -1;
    
}

#firefly{
    z-index: -2;
}

#star-mountain{
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,69,115,.45)),url(../img/starmountain.jpg);
    z-index: -3;
}

.title{
    font-weight: 400;
}

/** NAVBAR **/
.navbar-top{
    display: flex;
    justify-content: center;
    margin: 6px auto;
}

.navbar-top .navbar-item{
    color: gray;
    background-color: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navbar-top .navbar-item:hover{
    color: #fff;    
    background-color: transparent;
    text-decoration: none;
}

.navbar-top .icon-active{
    color: #fff;    
}

/** HOME BODY **/
.hero .hero-body{
    margin-bottom: 12em;
}

.hero .hero-body .title{
    color: #fff;
    font-weight: 200;
    font-size: 4em;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.hero .hero-body .subtitle{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 100;
    line-height: 1.25;
    margin-bottom: 15px;
}

.hero .hero-body .button.is-primary{
    background-color: transparent;
    border-color: gray;
    color: gray;
}

.hero .hero-body .button.is-primary:hover{
    border-color: #fff;
    color: #fff;
}

/** BODY **/
.section-body{
    min-height: 100vh;
    padding: 3em;
}

.section-body .container{
    background-color: white;
    color: #333;
    padding: 1.5em;
}

.section-body .container .card-body{
    color: gray;
}

/** PROJECTS **/
.section-body .container .card-content{
    padding: 0.5rem 0.5rem 0;
}

.section-body .container .card-content .title{
    margin-bottom: 3px;
}

.section-body .container .card-content .card-body{
    font-size: 0.9em;
    margin-bottom: 8px;
}

.section-body .container .card-content .tags, .section-body .container .tags{
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
}

.section-body .container .card-content .tags .tag, .section-body .container .tags .tag{
    color: #fff;
}

.tag.tag-html{
    background-color: #e34f26;
}

.tag.tag-css{
    background-color: #008FD8;
}

.tag.tag-js{
    background-color: #F0E03F;
}

.tag.tag-sass{
    background-color: #DE4C98;
}

.tag.tag-jquery{
    background-color: #0065B0;
}

.tag.tag-bootstrap{
    background-color: #5D317D;
}

.tag.tag-foundation{
    background-color: #00aaca;
}

.tag.tag-java{
    background-color: #FC0002;
}

.tag.tag-mysql{
    background-color: #FF9D00;
}

.tag.tag-git{
    background-color: #FF270C;
}

/** ABOUT **/

.section-body .container .about-body{
    font-size: 0.9em;
    margin-top: 5px;
}
.section-body .container .tags{
    margin-top: 16px;
    margin-bottom: 0;
} 

.section-body .container .experience-date, .section-body .container .education-date{
    float: right;
    color: gray;
}

.section-body .container .experience-job, .section-body .container .education-job{
    font-size: 1.25rem;
}
    
.section-body .container .experience-title, .section-body .container .education-title{
    color: #0596DE;
}

/** CONTACT **/
.section-body .container a.icon-github{
    margin-right: 30px;
    background-color: transparent;
}

.section-body .container a.icon-linkedin{
    margin-left: 30px;
    background-color: transparent;
}

/** MEDIA QUERIES **/
@media screen and (max-width: 2000px){
    .container {
        max-width: 900px;
        width: 900px;
    }
}

@media screen and (max-width: 600px){
    .section-body .container .experience-date, .section-body .container .education-date{
        float: none;
    }
}

@media screen and (max-width: 455px){
    .hero .hero-body .title{
        font-size: 3em;
    }

    .hero .hero-body .subtitle{
        font-size: 2rem;
    }
}
